{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content%}
<div class="container">
    <div class="container-fluid">
        <div class="col-sm-12">
            <a href="{% url 'newhouse' %}" class="btn btn-primary ">Create Neighbourhood</a>
        </div>
        <section>
            {% for house in houses %}
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h5 class="text-center">HOUSE NO <a href="">{{house.house_name}}</a></h5>
                                </div><hr>
                                <div class="about">
                                    <h6 class="text-center">{{house.house_location}}</h6>
                                </div><hr>
                                <div class="card-footer">
                                    {% if request.user.profile.neighbourhood == house %}
                                    <a href="{% url 'visitneighbourhood' house.id %}" class="btn btn-success">VISIT</a><br>
                                    <a href="{% url 'exitneighbourhood' house.id %}" class="btn btn-success">LEAVE</a>
                                    {% elif not request.user.profile.neighbourhood %}
                                    <a href="{% url 'connect'house.id %}" class="btn btn-primary">JOIN</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
</div>

{% endblock %}