{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content%}
<style>
    .create {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .landing{
        border: solid 3px black;
        align-items: center;
        padding: 100px;
        background-image: url(static/img/mark-de-jong-mYoOSPFRO00-unsplash.jpg);
        background-size: cover;
    }
   
</style>
<div class="ontainer" >
    <div class="grid_container">
        <div class="landing" >
            <h1 class="text-center" style="font-family: 'Recursive', sans serif; color: #dfdfdf; font-weight: 700; font-style: italic;">Am Glad you Came</h1>
            
        </div>
       
       <br>
        <div class="col-sm-12 create" style="text-align: center;">
            <a href="newhouse/" class="btn btn-primary " style="font-family: 'Recursive', sans serif; color: #000; font-weight: 700; font-size: 30px; font-style: italic;">Create Neighbourhood</a>
        </div>

        <section class="magazine-section">
            {% for house in houses %}
            <div class="col-lg-5">
                <div style="box-sizing: border-box; margin-top:2%;">

                    <div class="row" style="padding-top: 1%">
                        <div class="col-md-12">
                            <h5 style="font-family: 'Recursive', sans serif;font-weight: 700; color: #dfdfdf;" class="text-center">HSE NO:
                                <a href="">{{house.house_name}}</a></h5>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 style="color:#dfdfdf; text-align:center;" class="text-center">{{house.house_location}}</h6>

                        </div>
                    </div>
                    <div style="padding-top:1%;padding-bottom:1%">
                        {% if request.user.profile.neighbourhood == house %}
                        <a style="width: 150px; margin-bottom: 3px;font-weight: 700;" href="{% url 'viewneighbourhood' house.id %}" class="btn btn-success btn-md">VISIT</a>
                    
                        <br>
                        <a  style="width: 150px;font-weight: 700; "href="{% url 'exitneighbourhood' house.id %}" class="btn btn-danger btn-md">LEAVE</a><br>
                        {% elif not request.user.profile.neighbourhood %}
                        <a style="font-weight: 700;"href="{% url 'connect' house.id %}" class="btn btn-primary">JOIN</a>
                        {% endif %}
                    </div>

                </div>


            </div>
            {% endfor %}
        </section>
    </div>
</div>

{% endblock %}