{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<style>
    @media only screen and (max-width:600px) {
        .row{
            align-items: center;
        }
        .col{
            width: 100%;
            display: block;
            padding: auto;
        }
        
    }
</style>
 <div class="grid_container">
        <div class="row">
            <div class="col-md-4"><p></p></div>
            <div class="col-md-4 rgba-stylish-strong col" style="height: max-content; width: max-content; margin-top: 100px;background-color:#dfdfdf; padding: 20px; border-radius: 5px;" >
                <h3 class="text-center pt-4;font-family: 'Recursive', sans serif; font-size:20px;">ADD A NEW NEIGHBOURHOOD </h3>
                <form style="color:white; margin-top: 0;" action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-primary btn-sm">Add Neighbourhood</button>
                </form><br>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}